.Corpo{
    background-color: blanchedalmond;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#navbar{
background-color: #2CD0DB;
width:365px;
height:70px;
}
#ola{
  background:#2CD0DB;
  border:1px solid #2CD0DB;
  color:black;
  opacity:0.7
}
.cabe{
    color:#2CD0DB;
}
